@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Protest+Riot&family=Sora:wght@400;500&display=swap');


body {
  text-align: center;
  font-family: 'Sora', sans-serif;
  color: #333333;
}

h1 {
  color: #3535a1;
}

table {
  margin: auto;
  border: 2px solid #110957;
}

th, td {
  padding: 6px;
  text-align: left;
}

.player-column {
  padding-right: 25px;
}

td.sets {
  text-align: right;
}

a {
  text-decoration: none;
  color: #12129c;
}

a:hover {
  color: #8888ff;
  transition-duration: 100ms;
}

.credits {
  margin-top: 25px;
}

.credits-line {
  margin-bottom: 20px;
}

.startgg-link {
  margin: 10px;
}

.dev {
  max-width: 400px;
  margin: 0 auto;
}

.dev form {
  margin-top: 20px;
}

input {
  padding: 8px;
  margin: 0 10px;
}

button {
  padding: 8px;
  border-radius: 3px;
}

button:hover {
  color: #ddd;
  background-color: #12129c;
  cursor: pointer;
  transition-duration: 100ms;
}

.home-link {
  margin-bottom: 20px;
}

.logout-link {
  margin-bottom: 20px;
}